/*style.css*/

div{
	width: 40%;
	border-style: solid, black, 2px;
}

section{
	border-style: 2px, solid, black;
}

table, th{
	text-align: left;
	padding: 5px;
	width: 200px;
	border: 1px solid black;
	border-collapse: collapse;	
}

td{
	text-align: left;
	min-width: 200px;
	padding: 5px;
	border: 1px solid black;
	border-collapse: collapse;	
}

textarea{
	width: 250px;
	height: 100px;
}

label{
	display: block;
}